In [1]:
# Importing libraries

import numpy as np
import pandas as pd
import pyexcel
import statsmodels.api as stat
import statsmodels.tsa.stattools as ts
import quandl
import matplotlib.pyplot as plt

In [10]:
df=pd.read_excel(r'C:\Users\gordo\Programming\Data_Bank\HUNTIN\2018_ELK_HARVESTxlsx.xlsx', index_col='Unit', squeeze=True)



df

      Bulls  Cows  Calves  Harvest  Hunters  Success  Rec. Days
Unit
1         7    24       0       31       82       38        336
2        25    50       6       81      163       50        812
201      26    57       2       85      167       51        668
3       295   479      44      818     3624       23      14492
301     194   198      27      419     1811       23       7064
...     ...   ...     ...      ...      ...      ...        ...
110      20    14       3       37       77       48        488
111       0     0       0        0        6        0         17
112       0     0       0        0        6        0         17
114       0     0       0        0        3        0         20
115       0     0       0        0        3        0          3

[148 rows x 7 columns]

In [17]:
df.nlargest(10, ['Harvest'])

      Bulls  Cows  Calves  Harvest  Hunters  Success  Rec. Days
Unit
4       673   592      52     1317     4581       29      20098
12      548   592      77     1217     5032       24      20953
11      540   529      53     1122     4732       24      19333
23      346   478      82      906     4038       22      16125
3       295   479      44      818     3624       23      14492
70      370   351      22      743     2815       26      13365
441     338   348      30      716     1842       39       6487
18      304   358      32      694     4576       15      19821
62      421   235       9      665     3129       21      14816
77      557    87       6      650     2488       26      11379

In [20]:
df['Ratio']=df['Harvest']/df['Hunters']

df.nlargest(10, ['Harvest'])

      Bulls  Cows  Calves  Harvest  Hunters  Success  Rec. Days     Ratio
Unit
4       673   592      52     1317     4581       29      20098  0.287492
12      548   592      77     1217     5032       24      20953  0.241852
11      540   529      53     1122     4732       24      19333  0.237109
23      346   478      82      906     4038       22      16125  0.224368
3       295   479      44      818     3624       23      14492  0.225717
70      370   351      22      743     2815       26      13365  0.263943
441     338   348      30      716     1842       39       6487  0.388708
18      304   358      32      694     4576       15      19821  0.151661
62      421   235       9      665     3129       21      14816  0.212528
77      557    87       6      650     2488       26      11379  0.261254

In [28]:
df.nsmallest(10, ['Hunters'])

      Bulls  Cows  Calves  Harvest  Hunters  Success  Rec. Days  Ratio
Unit
88        0     0       0        0        3        0         14    0.0
93        0     0       0        0        3        0         29    0.0
101       0     0       0        0        3        0         29    0.0
114       0     0       0        0        3        0         20    0.0
115       0     0       0        0        3        0          3    0.0
89        0     0       0        0        6        0         14    0.0
95        0     0       0        0        6        0        340    0.0
96        0     0       0        0        6        0         46    0.0
99        0     0       0        0        6        0         32    0.0
107       0     0       0        0        6        0         40    0.0

In [33]:
df.nlargest(50, ['Success'])

      Bulls  Cows  Calves  Harvest  Hunters  Success  Rec. Days     Ratio
Unit
512       0     4       0        4        7       57         40  0.571429
201      26    57       2       85      167       51        668  0.508982
40       81    98       5      184      358       51       1482  0.513966
2        25    50       6       81      163       50        812  0.496933
100       3     0       0        3        6       50         17  0.500000
10       29   223      15      267      557       48       2307  0.479354
20      104   256      17      377      788       48       8405  0.478426
682      39    16       0       55      114       48        176  0.482456
110      20    14       3       37       77       48        488  0.480519
391      18    88      10      116      247       47       3940  0.469636
61      202   205      17      424      920       46       4025  0.460870
9        23    50       0       73      163       45        812  0.447853
83      312   305      18      635     1443       44       5606  0.440055
76      167   163       6      336      774       43       3270  0.434109
791      26    14       0       40       93       43        202  0.430108
214     250   330      45      625     1478       42       5971  0.422869
66      255   212      13      480     1184       41       4980  0.405405
104      40    44      12       96      233       41       1603  0.412017
441     338   348      30      716     1842       39       6487  0.388708
1         7    24       0       31       82       38        336  0.378049
39       55    55       0      110      287       38       2417  0.383275
5       377   150      34      561     1566       36       6296  0.358238
13      277   281      53      611     1706       36       7442  0.358148
50       79   107      19      205      567       36       2631  0.361552
48       69    31       6      106      301       35       1228  0.352159
851     104    50       7      161      467       34       1964  0.344754
105      43     6       3       52      153       34       1920  0.339869
56       47    55       0      102      309       33       1317  0.330097
94        3     0       0        3        9       33         37  0.333333
49       72   113      18      203      639       32       2679  0.317684
67      195   172       8      375     1187       32       5323  0.315922
84       59    94       4      157      496       32       3070  0.316532
60       72    27       7      106      338       31       1622  0.313609
57       48    73      17      138      458       30       2587  0.301310
65      264   271      30      565     1896       30       7884  0.297996
4       673   592      52     1317     4581       29      20098  0.287492
29       12    35       2       49      168       29       1162  0.291667
58       58    98       7      163      565       29       3463  0.288496
411      34   108       0      142      512       28       2211  0.277344
500      75    53       4      132      466       28       2252  0.283262
82      249   222      18      489     1750       28       6917  0.279429
131      64   124      12      200      771       26       2940  0.259403
32       47    74       3      124      476       26       1832  0.260504
70      370   351      22      743     2815       26      13365  0.263943
741      41    49       4       94      365       26       1996  0.257534
77      557    87       6      650     2488       26      11379  0.261254
181     121   229      22      372     1485       25       5893  0.250505
31      191    90      12      293     1193       25       5569  0.245599
51       23    59       8       90      361       25       1912  0.249307
78      411    60       4      475     1895       25       8287  0.250660

In [40]:
df.Hunters.max=pd.DataFrame(df.nlargest(50, ['Success']))

df.Hunters.max

      Bulls  Cows  Calves  Harvest  Hunters  Success  Rec. Days     Ratio
Unit
512       0     4       0        4        7       57         40  0.571429
201      26    57       2       85      167       51        668  0.508982
40       81    98       5      184      358       51       1482  0.513966
2        25    50       6       81      163       50        812  0.496933
100       3     0       0        3        6       50         17  0.500000
10       29   223      15      267      557       48       2307  0.479354
20      104   256      17      377      788       48       8405  0.478426
682      39    16       0       55      114       48        176  0.482456
110      20    14       3       37       77       48        488  0.480519
391      18    88      10      116      247       47       3940  0.469636
61      202   205      17      424      920       46       4025  0.460870
9        23    50       0       73      163       45        812  0.447853
83      312   305      18      635     1443       44       5606  0.440055
76      167   163       6      336      774       43       3270  0.434109
791      26    14       0       40       93       43        202  0.430108
214     250   330      45      625     1478       42       5971  0.422869
66      255   212      13      480     1184       41       4980  0.405405
104      40    44      12       96      233       41       1603  0.412017
441     338   348      30      716     1842       39       6487  0.388708
1         7    24       0       31       82       38        336  0.378049
39       55    55       0      110      287       38       2417  0.383275
5       377   150      34      561     1566       36       6296  0.358238
13      277   281      53      611     1706       36       7442  0.358148
50       79   107      19      205      567       36       2631  0.361552
48       69    31       6      106      301       35       1228  0.352159
851     104    50       7      161      467       34       1964  0.344754
105      43     6       3       52      153       34       1920  0.339869
56       47    55       0      102      309       33       1317  0.330097
94        3     0       0        3        9       33         37  0.333333
49       72   113      18      203      639       32       2679  0.317684
67      195   172       8      375     1187       32       5323  0.315922
84       59    94       4      157      496       32       3070  0.316532
60       72    27       7      106      338       31       1622  0.313609
57       48    73      17      138      458       30       2587  0.301310
65      264   271      30      565     1896       30       7884  0.297996
4       673   592      52     1317     4581       29      20098  0.287492
29       12    35       2       49      168       29       1162  0.291667
58       58    98       7      163      565       29       3463  0.288496
411      34   108       0      142      512       28       2211  0.277344
500      75    53       4      132      466       28       2252  0.283262
82      249   222      18      489     1750       28       6917  0.279429
131      64   124      12      200      771       26       2940  0.259403
32       47    74       3      124      476       26       1832  0.260504
70      370   351      22      743     2815       26      13365  0.263943
741      41    49       4       94      365       26       1996  0.257534
77      557    87       6      650     2488       26      11379  0.261254
181     121   229      22      372     1485       25       5893  0.250505
31      191    90      12      293     1193       25       5569  0.245599
51       23    59       8       90      361       25       1912  0.249307
78      411    60       4      475     1895       25       8287  0.250660

In [42]:
df.Success.max=pd.DataFrame(df.nlargest(50, ['Hunters']))

df.Success.max

      Bulls  Cows  Calves  Harvest  Hunters  Success  Rec. Days     Ratio
Unit
12      548   592      77     1217     5032       24      20953  0.241852
11      540   529      53     1122     4732       24      19333  0.237109
4       673   592      52     1317     4581       29      20098  0.287492
18      304   358      32      694     4576       15      19821  0.151661
23      346   478      82      906     4038       22      16125  0.224368
3       295   479      44      818     3624       23      14492  0.225717
28      209   275      38      522     3457       15      14112  0.150998
24      245   248      30      523     3365       16      13945  0.155423
62      421   235       9      665     3129       21      14816  0.212528
15      183   226      15      424     2985       14      14281  0.142044
70      370   351      22      743     2815       26      13365  0.263943
55      208   248      25      481     2699       18      12324  0.178214
6       184   210      11      405     2633       15      11230  0.153817
42      211   245      41      497     2525       20      11710  0.196832
77      557    87       6      650     2488       26      11379  0.261254
211     276   210      28      514     2369       22       9497  0.216969
85      285   249      15      549     2266       24      11328  0.242277
161     168   239      27      434     2188       20       9460  0.198355
33      141   112       7      260     2175       12       9940  0.119540
421     161   221      27      409     2160       19      10325  0.189352
22      235   226      39      500     2133       23      10284  0.234412
80      262    81       8      351     2104       17       9574  0.166825
81      289    88      18      395     2037       19       8943  0.193913
71      296    43       5      344     2000       17       8783  0.172000
43      203   177      23      403     1954       21       9418  0.206244
65      264   271      30      565     1896       30       7884  0.297996
78      411    60       4      475     1895       25       8287  0.250660
441     338   348      30      716     1842       39       6487  0.388708
711     159    92       3      254     1831       14       9048  0.138722
54      319   102       0      421     1818       23       7841  0.231573
301     194   198      27      419     1811       23       7064  0.231364
37       99   230      41      370     1811       20       6511  0.204307
21      166   143      19      328     1764       19       7209  0.185941
82      249   222      18      489     1750       28       6917  0.279429
521     209   108      11      328     1710       19       7882  0.191813
13      277   281      53      611     1706       36       7442  0.358148
68      139    47       3      189     1674       11       8013  0.112903
17      103   117      34      254     1574       16       6043  0.161372
5       377   150      34      561     1566       36       6296  0.358238
86      129    90       0      219     1542       14       8324  0.142023
14      151    77      11      239     1510       16       6466  0.158278
181     121   229      22      372     1485       25       5893  0.250505
214     250   330      45      625     1478       42       5971  0.422869
83      312   305      18      635     1443       44       5606  0.440055
551     127   143      13      283     1430       20       6842  0.197902
41      133   125      15      273     1418       19       7460  0.192525
171      67   103      16      186     1401       13       5450  0.132762
16       74   118      24      216     1394       15       5614  0.154950
7       140    80       2      222     1379       16       5861  0.160986
581      74   118       0      192     1311       15       7275  0.146453

In [39]:
df[df.Hunters == df.Hunters.max()]

TypeError: 'DataFrame' object is not callable

In [61]:
data =pd.read_excel(r'C:\Users\gordo\Programming\Data_Bank\HUNTIN\2018_ELK_HARVESTxlsx.xlsx')

data

     Unit  Bulls  Cows  Calves  Harvest  Hunters  Success  Rec. Days
0       1      7    24       0       31       82       38        336
1       2     25    50       6       81      163       50        812
2     201     26    57       2       85      167       51        668
3       3    295   479      44      818     3624       23      14492
4     301    194   198      27      419     1811       23       7064
..    ...    ...   ...     ...      ...      ...      ...        ...
143   110     20    14       3       37       77       48        488
144   111      0     0       0        0        6        0         17
145   112      0     0       0        0        6        0         17
146   114      0     0       0        0        3        0         20
147   115      0     0       0        0        3        0          3

[148 rows x 8 columns]

In [57]:
import pandas as pd 

data.sort_values('Unit', inplace = True) 

filter = data['Unit']==85

data.where(filter, inplace = True) 

data

     Unit  Bulls  Cows  Calves  Harvest  Hunters  Success  Rec. Days
0     NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
1     NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
3     NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
5     NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
7     NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
..    ...    ...   ...     ...      ...      ...      ...        ...
112   NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
115   NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
122   NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
124   NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
131   NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN

[148 rows x 8 columns]

In [55]:
df1.dropna

<bound method DataFrame.dropna of      Unit  Bulls  Cows  Calves  Harvest  Hunters  Success  Rec. Days
0     NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
1     NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
3     NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
5     NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
7     NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
..    ...    ...   ...     ...      ...      ...      ...        ...
112   NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
115   NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
122   NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
124   NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN
131   NaN    NaN   NaN     NaN      NaN      NaN      NaN        NaN

[148 rows x 8 columns]>